body {
    margin:0px;
    padding:0px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
    background-image: url('../img/bgc.jpg');
}

html{
    /*text-align: center;*/
}

@media (min-width: 1200px){
    .main_navbar{
        width: 46%;
        margin: 0 auto;
    }

    .container {
        max-width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .main_navbar{
        width: 72%;
        margin: 0 auto;
    }
    .container {
        max-width: 90%;
    }
}

@media (max-width: 767px){
    .main_navbar{
        width: 72%;
        margin: 0 auto;
    }
    .container {
        max-width: 90%;
    }
}

/*header*/
.header-bar{
    height: 30px;
    background-color: #f8f8f8;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.header-bar .container p{
    margin-top: 5px;
    /*margin-left: 10px;*/
    float: left;
}

.header_logo{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}

.side{
    padding: 0;
    margin: 0;
}

.main_navbar{
    width: 50%;
    margin: 0 auto;
}

.footer-container{
    margin-bottom: 0px;
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

footer{
    margin-top: 15px;
    text-align: center;
}

/*header{*/
    /*text-align: center;*/
/*}*/

header{
    z-index: 1001;
    /*position: absolute;*/
    display: block;
}

@media (min-width: 993px) and (max-width: 1199px) {
    .main_navbar{
        width: 59%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .main_navbar{
        width: 49%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .main_navbar{
        width: 77%;
        margin: 0 auto;
    }
}

@media (max-width: 767px){
    .main_navbar{
        width: 72%;
        margin: 0 auto;
    }
}

.navbar{
    margin-bottom: 2px;
}

.navbar-nav{
    padding-top: 8px;
}

.navbar-default{
    border: none;
}

.container::after{
    clear: both;
}

.container {
    max-width: 100%;
}

/*冒泡对话框*/
.speech-bubble {
    position: relative;
    /*background-color: #292929;*/
    width: 200px;
    height: 150px;
    /*line-height: 150px; /!* 垂直居中 *!/*/
    color: white;
    text-align: center;
    border-radius: 10px;
    font-family: sans-serif;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    /*border: 15px solid;*/
    /*border-top: 15px solid bisque;*/
    /*border-right: 15px solid cadetblue;*/
    /*border-bottom: 15px solid magenta;*/
    /*border-left: 15px solid aquamarine;*/
    /*background-color: red;*/
    border-width: 15px;
    border-color: transparent;
    border-style: solid;
}

/* 箭头的位置 */
.speech-bubble-top:after {
    border-bottom-color: white;
    left: 50%;
    bottom: 100%;
    margin-left: -15px;
}

.speech-bubble-right:after {
    border-left-color: white;
    left: 100%;
    top: 50%;
    margin-top: -15px;
}

.speech-bubble-bottom:after {
    border-top-color: white;
    top: 100%;
    left: 50%;
    margin-left: -15px;
}

.speech-bubble-left:after {
    /*border-right-color: #292929;*/
    border-right-color: #e7e7e7;
    top: 50%;
    right: 100%;
    margin-top: -15px;
}
/*冒泡对话框*/

.panel-body{
    padding: 0;
}

.panel{
    margin-bottom: 10px;
}